<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-Q8-AnyCPU" version="7.0.5.502" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.6.1" targetFramework="net452" />
  <package id="OpenCover" version="4.6.519" targetFramework="net452" />
  <package id="ReportGenerator" version="2.5.6" targetFramework="net452" />
  <package id="ReportUnit" version="1.2.1" targetFramework="net452" />
</packages>